{% load yzadmin_tags %}

<div id="yzadmin-page">

    {% include "yzadmin/page-nav.html" %}
    <ul class="product-page">
    {% for obj in page.object_list %}
        <li><a href="{% admin_url 'product' 'edit' obj.id  %}"
            yz:item-id="{{ obj.id }}"
            yz:removable="yes"
            class="
            {% if obj == item %}current{% endif %}
            {% if obj.active %}active{% endif %}
                ">{{ obj }}</a>
        </li>
        {% if obj == item or obj.id == item.parent_id %}
            <!-- show variants only for current product -->
            {% with variants=obj.get_variants %}
            {% if variants %}
            <ul>
            {% for variant in variants %}
                <li><a href="{% admin_url 'product' 'edit' variant.id  %}"
                    yz:item-id="{{ variant.id }}"
                    yz:removable="yes"
                    class="
                    {% if variant == item %}current{% endif %}
                    {% if variant.active %}active{% endif %}
                        ">{{ variant.variant_name }} ({{ variant.sku }})</a>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        {% endif %}

    {% endfor %}
    </ul>
</div>
