{% extends "yzadmin/xhtml1.html" %}
{% load i18n %}
{% block xhtml1_head %}
<title>{% trans 'Upload Image' %} :: YzAdmin</title>
{% endblock xhtml1_head %}


{% block xhtml1_body_wrapper %}
<body>
{% if item %}
<input type="text" id="src" name="src" />
<script type="text/javascript" src="{{ STATIC_URL }}js/contrib/tiny_mce/tiny_mce_popup.js"></script>
<script>
  var ImageDialog = {
    init : function(ed) {
      ed.execCommand('mceInsertContent', false,
        tinyMCEPopup.editor.dom.createHTML('img', {
          src : '{{ item.image.url }}',
          'data-mce-src': '{{ item.image.url }}'
        })
      );

      tinyMCEPopup.editor.execCommand('mceRepaint');
      tinyMCEPopup.editor.focus();
      tinyMCEPopup.close();
    }
  };
  tinyMCEPopup.onInit.add(ImageDialog.init, ImageDialog);
</script>
{% else %}
<form name="iform" action="" method="post" enctype="multipart/form-data">
    {% include "yzadmin/form.html" %}
    <button>{% trans 'OK' %}</button>
    <button type="reset" onclick="window.close(); return false">{% trans 'Close' %}</button>
</form>
{% endif %}
</body>
{% endblock xhtml1_body_wrapper %}
